body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.unknown {
  --accordion__background-color: #6C6A6D;
  --accordion__background-color--hover: grey;
}

.online {
  --accordion__background-color: #2FBF02;
  --accordion__background-color--hover: grey;
}

.degraded {
  --accordion__background-color: #F89D0B;
  --accordion__background-color--hover: grey;
}

.offline {
  --accordion__background-color: #D92F0B;
  --accordion__background-color--hover: grey;
}

.tenantItem {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.unknown-icon {
  color: #6C6A6D;
}

.online-icon {
  color: #2FBF02;
}

.atRisk-icon {
  color: #F3DB0F;
}

.degraded-icon {
  color: #F89D0B;
}

.offline-icon {
  color: #D92F0B;
}
