body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

:root {
  --sonar-grey: #808080;
  --sonar-green: #12890E;
  --sonar-gold: #f8C41F;
  --sonar-orange: #F89D0B;
  --sonar-red: #E31C3D;
}

.unknown {
  --accordion__background-color: var(--sonar-grey);
  --accordion__background-color--hover: var(--sonar-grey);;
}

.online {
  --accordion__background-color: var(--sonar-green);
  --accordion__background-color--hover: var(--sonar-grey);;
}

.degraded {
  --accordion__background-color: var(--sonar-orange);
  --accordion__background-color--hover: var(--sonar-grey);
}

.offline {
  --accordion__background-color: var(--sonar-red);
  --accordion__background-color--hover: var(--sonar-grey);
}

.tenantItem {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.unknown-icon {
  color: var(--sonar-grey);
}

.online-icon {
  color: var(--sonar-green);
}

.atRisk-icon {
  color: var(--sonar-gold);
}

.degraded-icon {
  color: var(--sonar-orange);
}

.offline-icon {
  color: var(--sonar-red);
  background-color: grey;
  --button-solid-alt__background-color--hover: grey;
  --accordion__background-color--hover: grey;
}

.onlineTile {
  background-color: forestgreen;
  --button-solid-alt__background-color--hover: grey;
  --accordion__background-color--hover: grey;
}

.degradedTile {
  background-color: orange;
  --button-solid-alt__background-color--hover: grey;
  --accordion__background-color--hover: grey;
}

.offlineTile {
  background-color: red;
  --button-solid-alt__background-color--hover: grey;
  --accordion__background-color--hover: grey;
}

.atRiskTile {
  background-color: yellow;
  --button-solid-alt__background-color--hover: grey;
  --accordion__background-color--hover: grey;
}

.selected {
  /*border-radius: 9px;*/
  border-color:  #bd13b8;
  border-width: 3px;
}
