body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.unknown {
  --accordion__background-color: yellow;
  --accordion__background-color--hover: grey;
}

.online {
  background-color: #66FF00;
  --accordion__background-color--hover: grey;
}

.degraded {
  background-color: orange;
  --accordion__background-color--hover: grey;
}

.offline {
  background-color: red;
  --accordion__background-color--hover: grey;
}
